<!-- This will serve as the base template for the main screen of the application -->
{% extends "simplemail/base_main.html" %}

{% block styles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'simplemail/style.css' %}" />
{% endblock styles %}

<!-- <div class='wrapper'> -->
<!-- <div class='sidebar'> -->
{% block sidebar %}
    <ul class="sidebar-nav">
        <li class="side-btn"><a href="{%url 'inbox'%}" class="btn btn-default">Inbox</a></li>
        <li class="side-btn"><a href="{%url 'send_message'%}" class="btn btn-default">Send Message</a></li>
        <li class="side-btn"><a href="{%url 'trash'%}" class="btn btn-default">Trash</a></li>
        <li class="side-btn"><a href="{%url 'outbox'%}" class="btn btn-default">Outbox</a></li>
        <li class="side-btn"><a class="btn btn-default">Logout</a></li>
    </ul>
{% endblock sidebar %}
<!-- </div> END SIDEBAR -->

<!-- <div class='content'> -->
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                {% block page %}{% endblock page %}
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->

    {% block footer %}

    {% endblock footer %}
{% endblock content %}
<!-- </div> END CONTENT -->
