{%extends "simplemail/base_application.html"%}

{% block page %}
    {%autoescape on%}
    <h1>{{message.subject}}</h1>
    <ul>
        <li>From: {{message.from_address}}</li>
        <li>Date: {{message.date}}</li>
    </ul>
    {{message.body | linebreaks}}
    {%endautoescape%}
{% endblock page %}

{% block footer %}
    <footer class="footer">
        <div class="row">
        <ul class="bottombar-nav">
            <li class="bottom-btn"><a href={%url "delete_message" message.id%} class="btn btn-default">Delete</a></li>
            <li class="bottom-btn"><a class="btn btn-default">Forward</a></li>
            <li class="bottom-btn"><a href={%url "reply_to_message" message.id%} class="btn btn-default">Reply</a></li>
         </ul>
        </div>
    </footer>
{% endblock footer %}
