

body {
    margin-top: 0px;
    margin-bottom: 60px;
}


/* Navigation Toggle Styles */

.wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrapper.toggled {
    padding-left: 180px;
}


.wrapper.toggled .sidebar {
    width: 180px;
}

.content {
    width: 100%;
    height: 100%;
    padding: 15px;
}

.wrapper.toggled .content {
    position: absolute;
    margin-right: -180px;
}
/* Sidebar Styles */

.sidebar{
    z-index: 1000;
    position: fixed;
    left: 180px;
    width: 0;
    height: 100%;
    margin-left: -180px;
    overflow-y: auto;
    background: #221100;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
   // text-indent: 10px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000000;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    //background: rgba(255,255,255,0.2);
    background: rgba(0,0,0,1);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.btn-default{
    width:150px;
}

.btn{
    font-size:18px;
}

.side-btn{
    padding: 10px 0px 10px 10px;/* top right bottom left */
}


@media(min-width:768px) {
    .wrapper {
        padding-left: 180px;
    }

   .wrapper.toggled {
        padding-left: 0;
    }

    .sidebar {
        width: 180px;
    }

    .wrapper.toggled .sidebar {
        width: 0;
    }

    .content {
        padding: 20px;
    }

    .wrapper.toggled .content {
        position: relative;
        margin-right: 0;
    }
}

p{
    font-size: 18px;
}

/* footer */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    padding-left: 200px;
     margin-left: -180px;
  }

.bottombar-nav{
    display: flex;
    list-style-type: none;
}

.bottom-btn{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

/* form styles */
input:focus{
  box-shadow: inset 0 1px 1px
  rgba(186, 186, 186, 1), 0 0 25px
  rgba(110, 110, 110, 1);
}
form.login input[type="text"]{
    width: 50%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #474747;
    outline: 0;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
	font-family: 'Open Sans' , sans-serif;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000000;
    outline: 0;

}

.errorlist{
    color: rgb(195, 0, 0)
}

#to_field{
    width:55%;
}

table{
    font-size: larger;
}