<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Simple Mail</title>

    <!-- Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- load static files -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'simplemail/style.css' %}" />
</head>
<body>

    <div class="sidebar">
         {% block sidebar %}{% endblock %}
    </div>

    <div class="content">
         {% block content %}{% endblock %}
    </div>


</body>
</html>