<!-- Inherits from the base template. Extends functionality to include a sidebar, content panel and footer panel -->
{% extends "base.html" %}

{% block styles %}
{% endblock styles %}

    {% block body %}
        <div class="wrapper">
            <div class="sidebar">
                 {% block sidebar %}{% endblock %}
            </div><!-- /.sidebar -->

            <div class="content">
                 {% block content %}{% endblock %}
            </div><!-- /.content -->

            {% block footer %}

            {% endblock footer %}
        </div> <!-- /.wrapper -->
    {% endblock body %}